/*|1.73.1.35-S-35|publish|2020-11-02T16:00:36.033Z|*/

@font-face {
    font-family: 'Metric Light';
    src: url(fonts/Metric-Light.woff2) format('woff2'), url(fonts/Metric-Light.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: 'Metric Regular';
    src: url(fonts/Metric-Regular.woff2) format('woff2'), url(fonts/Metric-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: 'Metric Medium';
    src: url(fonts/Metric-Medium.woff2) format('woff2'), url(fonts/Metric-Medium.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: 'Metric Semibold';
    src: url(fonts/Metric-Semibold.woff2) format('woff2'), url(fonts/Metric-Semibold.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: 'MetricHPE Black';
    src: url(fonts/MetricHPE-Web-Black.woff2) format('woff2'), url(fonts/MetricHPE-Web-Black.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}