/*footer*/
#hf-footer-v3 .row {
	max-width: 1200px;
}

#hf-footer-v3 {
	padding: 40px 0px;
	background: #212934;
}
.hf-footer-infor .name{
	color: #1bb38e;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 20px;
}
.hf-footer-infor .address{
	font-size: 16px;
	color: #fff;
}
.list-infor div{
	display: inline-block;
	padding-right: 5px;
	font-size: 16px;
}
.hf-col-flex{
	margin-top: 40px;
}
.hf-col-flex #hf-copyright-v3{
	color: rgba(255,255,255,0.4);
	
	text-align: center;
	font-size: 16px !important;
}
.hf-footer-menu{
	margin-top: 50px;
}
.hf-footer-menu .title-menu{
	color: #1bb38e;
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 0px;
}
.hf-footer-menu div a{
	font-size: 16px;
	color: #fff;
	padding: 8px 0px;
}

/*---------------------News------------------------------------------------------------------------*/
.page-content.news{
	background: #000;
	margin: 0px;
	padding: 40px 0px;
	font-family: 'Metric Light' !important;
}
 .post-list .item{
 	display: flex;
 	margin-bottom: 60px
 }
 .post-list .card-img{
 	width: 40%;
 	padding-right: 30px;
 }
 .post-list .card-img img{
 	width: 100%;
 }
  .post-list .card-body{
  	width: calc(100% - 40%)
  }
  .post-list .card-body .title, .list-post-recent_entries .widget-title{
  	font-size: 32px;
  	line-height: 1.2;
  	margin-top: 0px;
  }
   .post-list .card-body .title a, .post-list .card-body .desc{
   	color: #fff;
   }
.post-list .card-body .desc p{
	font-size: 16px;
}
.list-post-recent_entries{
	padding: 25px 15px !important;
    background: #252525 !important;
}
.list-post-recent_entries .widget-title{
	font-weight: normal;
	color: #fff;
	text-align: center;
	margin-bottom: 15px;
}
.list-post-recent_entries .widget_recent_entries ul{
	margin: 0px
}
.list-post-recent_entries .widget_recent_entries ul li{
	padding: 10px 0px;
}
.list-post-recent_entries .widget_recent_entries ul li a{
	font-size: 16px;
	color: #fff;
	line-height: 1.5
}
.list-post-recent_entries .widget_recent_entries ul li a:before{
	content: ">";
	display: inline-block;
	width: 10px;
	margin-right: 4px;
	color: #fff;
	font-weight: 500;
}
.post-detail .entry-header .entry-title{
 	color: #fff;
 	font-size: 32px;
}
.post-detail .entry-header .entry-meta{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	font-size: 16px;
	padding: 10px 0px;
	margin-bottom: 20px;
}
.post-detail .entry-header .entry-meta .posted-on, .post-detail .entry-header .entry-meta .posted-on a{
	color: #fff;
}
.post-detail .entry-content{
	font-size: 16px;
	color: #ccc;
}
.topic-story{opacity:1;transition:opacity 250ms 250ms ease-in;padding-top:60px;padding-bottom:60px}
.topic-story .narrative-modal{z-index:119;text-align:center;-webkit-overflow-scrolling:auto}
.topic-story .narrative-modal .modal-backdrop{transition:opacity 250ms}
.topic-story .narrative-modal .modal-backdrop:not(.opened){opacity:0}
.topic-story .narrative-modal .modal-dialog-align{display:inline-block;height:100%;vertical-align:middle}
.topic-story .narrative-modal .modal-dialog{visibility:hidden;opacity:0;transition:opacity 250ms;
	z-index:1;width:1200px;max-width:100%;margin:0;display:inline-block;text-align:left;vertical-align:middle}
.topic-story .narrative-modal .modal-dialog.opened{visibility:visible;opacity:1}
.topic-story .narrative-modal.modal.in .modal-dialog{transform:none}
.topic-story .narrative-modal .modal-content{border:none;border-radius:0;box-shadow:none;background:0 0}
.topic-story .narrative-modal .narrative-modal-close-wrapper{position:absolute;width:29px;right:15px;top:15px}
.topic-story .narrative-modal .narrative-modal-close{position:fixed;color:#FFF;cursor:pointer;border:0;
	font-size:17px;line-height:0;background:0 0;padding:6px}
.topic-story .narrative-modal .narrative-modal-close:before{position:relative}
.topic-story .narrative-modal .narrative-carousel .slide-carousel-control{position:fixed;top:50vh;opacity:.6}
.topic-story .narrative-modal .narrative-carousel .slide-carousel-control:hover{opacity:.9}
.topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper{position:absolute;width:68px}
.topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper.left{left:-8px}
.topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper.right{right:-8px}
.topic-story .narrative-modal .narrative-carousel .slide-carousel-control.left{left:auto}
.topic-story .narrative-modal .narrative-carousel .slide-carousel-control.right{right:auto}
.topic-story .narrative-modal .narrative-carousel .slide-carousel-dots{bottom:25px}
@media (max-width:1199px){.topic-story .narrative-modal .modal-dialog{width:100%}}
@media (max-width:991px){.topic-story .narrative-modal .narrative-modal-close-wrapper{right:10px;top:10px}
.topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper{width:50px}
.topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper.left{left:0}
.topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper.right{right:0}
}
.topic-story .narrative-item{display:flex;flex-direction:column;min-height:620px;padding:0 60px 60px}
.topic-story .narrative-item .narrative-header{padding:20px 0;border-bottom:none;min-height:140px;
	flex:none;display:flex;flex-direction:column;justify-content:center}
	.topic-story .narrative-item .narrative-header .body-copy,
	.topic-story .narrative-item .narrative-header h2{color:#FFF}
	.topic-story .narrative-item .narrative-header h2{margin:-.18em 0}
	.topic-story .narrative-item .narrative-header .body-copy{margin-top:calc(15px - .27090909090909093em);
		margin-bottom:-.27090909em}
		.topic-story .narrative-item .narrative-body{position:relative;height:100%;padding:30px 30px 40px;
			background:#FFF;flex:1 1 auto}
			.ms-ie .topic-story .narrative-item .narrative-body{min-height:420px}
			.topic-story .narrative-item .narrative-bg{position:absolute;top:0;left:0;right:0;
				bottom:0;z-index:-1;background-size:100%;background-color:#000}
				.topic-story .narrative-item .hpe-arrow-link{font-size:17px;line-height:1.17647059em}
				.topic-story .narrative-item .intro-title{font-family:'Metric Semibold';margin-top:-.27090909em;
				margin-bottom:calc(10px - .27090909090909093em)}
				.topic-story .narrative-item .intro-description{margin-top:-.26823529em}
				.topic-story .narrative-item .intro-description.rich-text-container p:last-child{margin-bottom:0}
				.topic-story .narrative-item .intro-links{margin-top:20px}
				.topic-story .narrative-item .intro-link-wrapper{display:inline}
				.topic-story .narrative-item .intro-link-wrapper:after{content:'|';margin:0 5px 0 4px;
				font-family:'Metric Light';color:#000}
				.topic-story .explore-link,
				.topic-story .explore-link:focus,
				.topic-story .explore-link:hover{color:#01A982;text-decoration:none}
				.topic-story .narrative-item .intro-link-wrapper:last-child:after{content:none}
				.topic-story .narrative-item .intro-link.no-js{padding-right:0}
				.topic-story .narrative-item .resources-title{font-family:'Metric Semibold';
				margin-top:calc(40px - .27090909090909093em);margin-bottom:calc(10px - .27090909090909093em)}
				.topic-story .narrative-item .resources{display:flex;margin-left:-15px;margin-right:-15px}
				.topic-story .narrative-item .resources-column{flex:1 0 0px;flex-basis:0px;max-width:100%;padding:0 15px}
				topic-story .narrative-item .resources-link{display:table;margin-top:20px}
				.topic-story .narrative-item .columns-component .container-gutter{padding-right:0;padding-left:0;
					max-width:none;margin:0}
					@media (max-width:1599px){
						.topic-story .narrative-item .hpe-arrow-link{font-size:17px;line-height:1.17647059em}
				}
@media (max-width:1199px){
	.topic-story .narrative-item .hpe-arrow-link{font-size:16px;line-height:1.1875em}
}
@media (max-width:991px){
	.topic-story .narrative-item{padding:0 50px 60px}
	.topic-story .narrative-item .hpe-arrow-link{font-size:16px;line-height:1.1875em}
	}
@media (max-width:767px){
	.topic-story .narrative-modal .modal-backdrop{transition:none;opacity:0}
	.topic-story .narrative-modal .modal-dialog{transition:none}
	.topic-story .narrative-modal .narrative-modal-close-wrapper{right:0;top:0}
	.topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper{width:30px}
	.topic-story .narrative-item{padding:0 30px 60px}
	.topic-story .narrative-item .hpe-arrow-link{font-size:16px;line-height:1.1875em}
	.topic-story .narrative-item .narrative-header{min-height:100px}
	.topic-story .narrative-item .narrative-body{padding:20px 20px 30px}
	.ms-ie .topic-story .narrative-item .narrative-body{min-height:460px}
	.topic-story .narrative-item .resources{display:block}
	.topic-story .narrative-item .resources-header,
	.topic-story .narrative-item .resources-title{margin-top:calc(30px - .29111111111111115em)}
}
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-content{display:flex;flex-direction:column;
		justify-content:center}
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-desc,
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-links,
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-title{flex:none}
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-desc,
	.topic-story .narrative-item .hpe-content-block.typo3 .secondary-link{font-size:17px;line-height:1.17647059em}
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-links li .secondary-link{margin-top:20px}
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-links li:first-child .secondary-link{margin-top:14px}
@media (max-width:1599px){
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-desc,
	.topic-story .narrative-item .hpe-content-block.typo3 .secondary-link{font-size:17px;line-height:1.17647059em}
}
@media (max-width:1199px){
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-desc,
	.topic-story .narrative-item .hpe-content-block.typo3 .secondary-link{font-size:16px;line-height:1.1875em}
}
@media (max-width:991px){
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-desc,
	.topic-story .narrative-item .hpe-content-block.typo3 .secondary-link{font-size:16px;line-height:1.1875em}
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-links li .secondary-link{margin-top:10px}
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-links li:first-child .secondary-link{margin-top:16px}
	}
	.topic-story .intro-link-wrapper a.video-overlay{display:inline-block!important}
	.topic-story .narrative-modal .modal-backdrop{opacity:.4}
@media (min-width:768px) and (max-width:1599px){
	.topic-story .narrative-modal .modal-dialog{width:768px}
}
@media (max-width:767px){
	.topic-story .narrative-item .hpe-content-block.typo3 .tag-h3.cb-title,
	.topic-story .narrative-item .hpe-content-block.typo3 h3.cb-title{font-size:20px;line-height:1.15em}
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-desc,
	.topic-story .narrative-item .hpe-content-block.typo3 .secondary-link{font-size:16px;line-height:1.1875em}
	.topic-story .narrative-modal .modal-dialog{width:400px}
}
	.topic-story .narrative-modal .item{background:#000}
	.topic-story .narrative-modal .item .narrative-item{background:linear-gradient(to top,#000,#0c3236);background-size:100% 400px;background-repeat:no-repeat}
	.topic-story .narrative-modal .item .narrative-item .narrative-header{min-height:120px;justify-content:flex-end}
	.topic-story .narrative-modal .item .narrative-item .narrative-header h2{text-transform:none;font-family:'Metric Semibold',Arial,sans-serif;font-size:40px;line-height:1.075em}
@media (min-width:1200px) and (max-width:1599px){
	.topic-story .narrative-modal .item .narrative-item .narrative-header h2{font-size:30px;line-height:1.1em}
}
@media (min-width:768px) and (max-width:1199px){
	.topic-story .narrative-modal .item .narrative-item .narrative-header h2{font-size:28px;line-height:1.10714286em}
}
@media (max-width:767px){
	.topic-story .narrative-modal .item .narrative-item .narrative-header h2{font-size:24px;line-height:1.125em}
}
	.topic-story .narrative-modal .item .narrative-item .narrative-body{border-top-color:#01A982!important}
	.ms-ie .topic-story .narrative-modal .item .narrative-item .narrative-body{min-height:440px}
	.topic-story .explore-link{position:relative;display:inline-flex;align-items:center;
		font-size:20px;line-height:1.2em;font-family:'Metric Semibold',Arial,sans-serif}
	.topic-story .explore-link .arrow{display:none}
@media (max-width:1199px){
	.topic-story .explore-link{font-size:18px;line-height:1.22222222em}
}
.topic-story .explore-link .expand-icon-wrapper{position:relative;display:block;height:29px;margin-right:8px}
.topic-story .explore-link .expand-icon-wrapper>span{transition:transform 150ms 30ms ease-in-out;will-change:transform}
.topic-story .explore-link .expand-icon-wrapper .exi0{fill:#ccc}
.topic-story .explore-link .expand-icon-wrapper .exi1{fill:#19A882}
.topic-story .explore-link .expand-icon{display:block;overflow:visible;width:29px;
	height:29px;position:absolute;top:0;left:0}
.topic-story .explore-link .expand-arrow-down,
.topic-story .explore-link .expand-arrow-up{display:block;overflow:visible;position:relative;width:29px;height:29px}
.topic-story .explore-link .expand-arrow-down{top:-29px}
.topic-story .explore-link:focus .expand-arrow-up,
.topic-story .explore-link:hover .expand-arrow-up{transform:translate3d(3px,-3px,0)}
.topic-story .explore-link:focus .expand-arrow-down,
.topic-story .explore-link:hover .expand-arrow-down{transform:translate3d(-3px,3px,0)}
.topic-story a.img-wrapper{display:block;position:relative}
.topic-story a.title-link{display:inline-block}
.topic-story.author-mode{position:relative}
.topic-story.author-mode .cols-wrapper{position:relative;display:block}
.topic-story.author-mode .cols-wrapper .additional-section,
.topic-story.author-mode .cols-wrapper .secondary-section,
.topic-story.author-mode .cols-wrapper .section{position:relative;padding:0 0 30px!important;width:100%;display:block}
.topic-story.author-mode .cols-wrapper .additional-section .text-content,
.topic-story.author-mode .cols-wrapper .secondary-section .text-content,
.topic-story.author-mode .cols-wrapper .section .text-content{width:100%;padding:0}
.topic-story.author-mode .cols-wrapper .additional-section .img-wrapper,
.topic-story.author-mode .cols-wrapper .secondary-section .img-wrapper,
.topic-story.author-mode .cols-wrapper .section .img-wrapper{max-height:400px;width:auto;margin-bottom:25px}
.topic-story.author-mode .cols-wrapper .additional-section .img-wrapper .image,
.topic-story.author-mode .cols-wrapper .secondary-section .img-wrapper .image,
.topic-story.author-mode .cols-wrapper .section .img-wrapper .image{max-height:400px;width:auto}
.topic-story.author-mode .additional-sections-wrapper.small{display:none}
.topic-story.author-mode .additional-section .narrative-item,
.topic-story.author-mode .section .narrative-item{min-height:auto;padding:0}
.topic-story.author-mode .additional-section .narrative-item .narrative-header .body-copy,
.topic-story.author-mode .additional-section .narrative-item .narrative-header h2,
.topic-story.author-mode .section .narrative-item .narrative-header .body-copy,
.topic-story.author-mode .section .narrative-item .narrative-header h2{color:#000}
.topic-story.author-mode .additional-section .narrative-item .narrative-header h2,
.topic-story.author-mode .section .narrative-item .narrative-header h2{text-transform:none;
	font-family:'Metric Semibold',Arial,sans-serif;font-size:40px;line-height:1.075em}
@media (min-width:1200px) and (max-width:1599px){
	.topic-story.author-mode .additional-section .narrative-item .narrative-header h2,
	.topic-story.author-mode .section .narrative-item .narrative-header h2{font-size:30px;line-height:1.1em}
}
@media (min-width:768px) and (max-width:1199px){
	.topic-story.author-mode .additional-section .narrative-item .narrative-header h2,
	.topic-story.author-mode .section .narrative-item .narrative-header h2{font-size:28px;line-height:1.10714286em}
}
.topic-story.author-mode .additional-section .narrative-item .narrative-body,
.topic-story.author-mode .section .narrative-item .narrative-body{padding:0 0 30px;border:0;
	display:block;height:auto;flex:none}
.topic-story .additional-sections-wrapper .additional-section:last-child,
.topic-story .cols-wrapper .section:nth-child(odd){padding-right:15px}
.topic-story.author-mode .additional-section .narrative-item smart-image.narrative-bg,
.topic-story.author-mode .section .narrative-item smart-image.narrative-bg{display:none}
.topic-story.uninitialized{opacity:0}.topic-story .video-overlay{display:block;position:relative}
.topic-story .video-overlay .img-video-button{width:50px;height:50px;position:absolute;top:50%;
	left:50%;transform:translate(-50%,-50%)}
.topic-story .video-overlay .img-video-button img{width:50px;height:50px}
.topic-story h2.dashed-text{margin-bottom:23px;padding-bottom:29px;margin-top:0}
.topic-story .body-copy.top-text{margin-bottom:30px}
.topic-story .body-copy,.topic-story .body-copy div,
.topic-story .body-copy p{margin-bottom:0}
.topic-story .link-wrapper{margin-top:10px}
.topic-story .link-wrapper .hpe-arrow-link{margin-top:0;display:inline-block}
.topic-story .cols-wrapper .section{width:50%}
.topic-story .cols-wrapper .section:nth-child(even){padding-left:15px}
.topic-story .cols-wrapper.small{display:none}
.topic-story .cols-wrapper.large{display:flex}
.topic-story .main-section .image{margin-bottom:23px;display:block}
.topic-story .main-section.small{display:none}
.topic-story .main-section.large{display:block}
.topic-story a .image.img-container,.topic-story div.img-wrapper .image.img-container{overflow:hidden}
.topic-story .secondary-section{margin-top:48px;display:flex;flex-direction:row}
.topic-story .secondary-section h4{margin-top:-5px}
.topic-story .secondary-section .img-wrapper{display:block;width:50%;height:fit-content;padding-right:15px}
.topic-story .secondary-section .img-wrapper smart-image{height:100%;background-position:center}
.topic-story .secondary-section .text-content{width:50%;padding-left:15px;display:flex;
	flex-direction:column;justify-content:center}
.topic-story .additional-sections-wrapper{display:flex;flex-direction:row-reverse;
	justify-content:flex-start;margin-top:30px}
.topic-story .additional-sections-wrapper .additional-section{width:50%}
.topic-story .additional-sections-wrapper .additional-section:first-child{padding-left:15px}
.topic-story .additional-sections-wrapper.second-topic-disabled{justify-content:flex-start}
.topic-story .additional-sections-wrapper.second-topic-disabled .additional-section:first-child{padding-right:0;
	padding-left:15px}
.topic-story .additional-sections-wrapper.first-topic-disabled{justify-content:flex-end}
.topic-story .additional-sections-wrapper.first-topic-disabled .additional-section:first-child{padding-right:15px;
	padding-left:0}
.topic-story .additional-sections-wrapper.small{display:none}

@media (max-width:1199px){
	.topic-story h2.dashed-text{margin-bottom:15px;padding-bottom:21px}
	.topic-story .video-overlay{display:block;position:relative}
}
@media (min-width:768px) and (max-width:1599px){
	.topic-story h2.dashed-text{margin-bottom:15px;padding-bottom:21px}
	.topic-story .secondary-section .img-wrapper,
	.topic-story .secondary-section .text-content{width:50%}
	.topic-story .cols-wrapper{margin-bottom:32px}
	.topic-story .additional-sections-wrapper.small{display:flex;flex-direction:row}
	.topic-story .additional-sections-wrapper.small .additional-section:last-child{padding-left:15px;padding-right:0}
	.topic-story .additional-sections-wrapper.small .additional-section:first-child,
	.topic-story .additional-sections-wrapper.small.second-topic-disabled .additional-section:first-child{padding-right:15px;padding-left:0}
	.topic-story .additional-sections-wrapper.small.second-topic-disabled{justify-content:flex-start}
	.topic-story .additional-sections-wrapper.small.first-topic-disabled{justify-content:flex-end}
	.topic-story .additional-sections-wrapper.small.first-topic-disabled .additional-section:first-child{padding-right:0;padding-left:15px}
	.topic-story .additional-sections-wrapper.large{display:none}
}
@media (min-width:768px) and (max-width:991px){
	.topic-story .additional-sections-wrapper.first-topic-disabled .additional-section,
	.topic-story .additional-sections-wrapper.second-topic-disabled .additional-section{padding:0}
}
@media (max-width:991px){
	.topic-story .additional-sections-wrapper,
	.topic-story .secondary-section h4{margin-top:0}
	.topic-story{padding-top:50px;padding-bottom:50px}
	.topic-story .main-section{margin-bottom:38px}
	.topic-story .cols-wrapper{flex-direction:column;margin-bottom:22px}
	.topic-story .cols-wrapper.small{display:flex}
	.topic-story .cols-wrapper.large{display:none}
	.topic-story .cols-wrapper .section{width:100%;padding-left:0;padding-right:0}
	.topic-story .cols-wrapper .section:nth-child(odd){padding-right:0}
	.topic-story .cols-wrapper .section:nth-child(even){padding-left:0}
	.topic-story .secondary-section{flex-direction:column;margin-top:0}
	.topic-story .secondary-section .img-wrapper{width:100%;padding-left:0;padding-right:0}
	.topic-story .secondary-section .img-wrapper .image{margin-bottom:23px}
	.topic-story .secondary-section .img-wrapper .img-container-1-1:after{padding-top:56.25%}
	.topic-story .secondary-section .text-content{width:100%;padding-left:0}
	.topic-story .additional-sections-wrapper .additional-section{margin-bottom:0}
}
@media (max-width:767px){
	.topic-story.author-mode .additional-section .narrative-item .narrative-header h2,
	.topic-story.author-mode .section .narrative-item .narrative-header h2{font-size:24px;line-height:1.125em}
	.topic-story .main-section .image,.topic-story .secondary-section .img-wrapper .image{margin-bottom:13px}
	.topic-story .additional-sections-wrapper.small{display:flex}
	.topic-story .additional-sections-wrapper.large{display:none}
	.topic-story .additional-sections-wrapper{flex-direction:column;margin-top:0}
	.topic-story .additional-sections-wrapper .additional-section{width:100%;margin-bottom:22px}
	.topic-story .additional-sections-wrapper .additional-section:last-child{margin-bottom:0}
	.topic-story .additional-sections-wrapper .additional-section,
	.topic-story .additional-sections-wrapper .additional-section:first-child,
	.topic-story .additional-sections-wrapper .additional-section:last-child,
	.topic-story .additional-sections-wrapper.first-topic-disabled .additional-section,
	.topic-story .additional-sections-wrapper.first-topic-disabled .additional-section:first-child,
	.topic-story .additional-sections-wrapper.first-topic-disabled .additional-section:last-child,
	.topic-story .additional-sections-wrapper.second-topic-disabled .additional-section,
	.topic-story .additional-sections-wrapper.second-topic-disabled .additional-section:first-child,
	.topic-story .additional-sections-wrapper.second-topic-disabled .additional-section:last-child{padding-right:0;padding-left:0}
	}
@media (min-width:1600px){
	.topic-story.container-fluid{max-width:1800px;padding-left:100px;padding-right:100px}
}
@media (min-width:992px) and (max-width:1599px){
	.topic-story.container-fluid{padding-left:80px;padding-right:80px}
}
@media (min-width:768px) and (max-width:991px){
	.topic-story.container-fluid{padding-left:50px;padding-right:50px}
}
@media (max-width:767px){
	.topic-story.container-fluid{padding-left:30px;padding-right:30px}
	.narrative .tile,.narrative .tile .description,.narrative .tile .title{position:relative}
	.narrative{padding:60px 0}
	.narrative h2{margin:-.18em 0}
	.narrative .desc{margin-top:calc(25px - .27090909090909093em);margin-bottom:-.27090909em}
	.narrative .desc ul{display:inline-block;text-align:left}
	.narrative .tiles{display:flex;flex-wrap:wrap;justify-content:center;margin:25px -15px -15px}
	.narrative .tile{display:block;width:calc(33.3333% - 30px);margin:15px;padding:30px 30px 86px;overflow:hidden}
	.narrative .tile .title{margin:-.23357143em 0}
	.narrative .tile .description{margin-bottom:-.27090909em;margin-top:calc(10px - .27090909090909093em)}
	.narrative .tile .bg-image-dynamic,.narrative .tile .bg-image-static{background-size:100%;background-color:#000}
	.narrative .tile .bg-image-static{position:absolute;top:0;left:0;right:0;bottom:0}
	.narrative .tile .bg-image-dynamic{position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;will-change:top,left,width,height}
	.narrative .tile.has-transition .bg-image-dynamic{transition:top 250ms,left 250ms,width 250ms,height 250ms;z-index:120}
	.narrative .tile.no-bg .bg-image-dynamic{transition:top 250ms,left 250ms,width 250ms,height 250ms,opacity 0s 250ms,visibility 0s 250ms;visibility:hidden;opacity:0}
	.narrative .tile:focus .expand-arrow-up,.narrative .tile:hover .expand-arrow-up{transform:translate3d(3px,-3px,0)}
	.narrative .tile:focus .expand-arrow-down,.narrative .tile:hover .expand-arrow-down{transform:translate3d(-3px,3px,0)}
	.narrative .explore-link{position:absolute;left:25px;bottom:25px;display:flex;align-items:center;font-family:'Metric Semibold';font-size:20px;line-height:1.2em}
	.narrative .expand-icon-wrapper{position:relative;display:block;height:29px;margin-right:10px}
	.narrative .expand-icon-wrapper>span{transition:transform 150ms 30ms ease-in-out;will-change:transform}
	.narrative .expand-icon-wrapper .exi0{fill:#FFF}
	 .narrative .expand-icon-wrapper .exi1{fill:#19A882}
	.narrative .expand-icon{display:block;overflow:visible;width:29px;height:29px;position:absolute;top:0;left:0}
	.narrative .expand-arrow-down,.narrative .expand-arrow-up{display:block;overflow:visible;position:relative;width:29px;height:29px}
	.narrative .expand-arrow-down{top:-29px}
	@media (max-width:1599px){
		.narrative .tile{width:calc(50% - 30px)}
		}
		@media (max-width:1199px){
			.narrative .explore-link{font-size:18px;line-height:1.22222222em}
			}
@media (max-width:767px){
	.narrative .tiles{margin:20px -10px -10px}
	.narrative .tile{margin:10px;width:100%}
	.narrative .tile.has-transition .bg-image-dynamic,
	.narrative .tile.no-bg .bg-image-dynamic{transition:none}
}
.narrative-modal-open.ios{position:fixed;width:100%}
.narrative-modal{z-index:119;text-align:center;-webkit-overflow-scrolling:auto}
.narrative-modal .modal-backdrop{transition:opacity 250ms}
.narrative-modal .modal-backdrop:not(.opened){opacity:0}
.narrative-modal .modal-dialog-align{display:inline-block;height:100%;vertical-align:middle}
.narrative-modal .modal-dialog{visibility:hidden;opacity:0;transition:opacity 250ms;z-index:1;width:1200px;max-width:100%;margin:0;display:inline-block;text-align:left;vertical-align:middle}
.narrative-modal .modal-dialog.opened{visibility:visible;opacity:1}
.narrative-modal.modal.in .modal-dialog{transform:none}
.narrative-modal .modal-content{border:none;border-radius:0;box-shadow:none;background:0 0}
.narrative-modal .narrative-modal-close-wrapper{position:absolute;width:29px;right:15px;top:15px}
.narrative-modal .narrative-modal-close{position:fixed;color:#FFF;cursor:pointer;border:0;font-size:17px;line-height:0;background:0 0;padding:6px}
.narrative-modal .narrative-modal-close:before{position:relative}
.narrative-modal .narrative-carousel .slide-carousel-control{position:fixed;top:50vh;opacity:.6}
.narrative-modal .narrative-carousel .slide-carousel-control:hover{opacity:.9}
.narrative-modal .narrative-carousel .carousel-button-wrapper{position:absolute;width:68px}
.narrative-modal .narrative-carousel .carousel-button-wrapper.left{left:-8px}
.narrative-modal .narrative-carousel .carousel-button-wrapper.right{right:-8px}
.narrative-modal .narrative-carousel .slide-carousel-control.left{left:auto}
.narrative-modal .narrative-carousel .slide-carousel-control.right{right:auto}
.narrative-modal .narrative-carousel .slide-carousel-dots{bottom:25px}

				@media (max-width:1199px){.narrative-modal .modal-dialog{width:100%}}
				@media (max-width:991px){
					.narrative-modal .narrative-modal-close-wrapper{right:10px;top:10px}
					.narrative-modal .narrative-carousel .carousel-button-wrapper{width:50px}
					.narrative-modal .narrative-carousel .carousel-button-wrapper.left{left:0}
					.narrative-modal .narrative-carousel .carousel-button-wrapper.right{right:0}
					}
					.narrative-item{display:flex;flex-direction:column;min-height:620px;padding:0 60px 60px}
					.narrative-item .narrative-header{padding:20px 0;border-bottom:none;min-height:140px;flex:none;display:flex;flex-direction:column;justify-content:center}
					.narrative-item .narrative-header .body-copy,
					.narrative-item .narrative-header h2{color:#FFF}
					.narrative-item .narrative-header h2{margin:-.18em 0}
					.narrative-item .narrative-header .body-copy{margin-top:calc(15px - .27090909090909093em);margin-bottom:-.27090909em}
					.narrative-item .narrative-body{position:relative;height:100%;padding:30px 30px 40px;background:#FFF;flex:1 1 auto}
					.ms-ie .narrative-item .narrative-body{min-height:420px}
					.narrative-item .narrative-bg{position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;background-size:100%;background-color:#000}
					.narrative-item .hpe-arrow-link{font-size:17px;line-height:1.17647059em}
					.narrative-item .intro-title{font-family:'Metric Semibold';margin-top:-.27090909em;margin-bottom:calc(10px - .27090909090909093em)}
					.narrative-item .intro-description{margin-top:-.26823529em}
					.narrative-item .intro-description.rich-text-container p:last-child{margin-bottom:0}
					.narrative-item .intro-links{margin-top:20px}
					.narrative-item .intro-link-wrapper{display:inline}
					.narrative-item .intro-link-wrapper:after{content:'|';margin:0 5px 0 4px;font-family:'Metric Light';color:#000}
					.narrative-item .intro-link-wrapper:last-child:after{content:none}
					.narrative-item .intro-link.no-js{padding-right:0}
					.narrative-item .resources-title{font-family:'Metric Semibold';margin-top:calc(40px - .27090909090909093em);margin-bottom:calc(10px - .27090909090909093em)}
					.narrative-item .resources{display:flex;margin-left:-15px;margin-right:-15px}
					.narrative-item .resources-column{flex:1 0 0px;flex-basis:0px;max-width:100%;padding:0 15px}
					.narrative-item .resources-link{display:table;margin-top:20px}
					.narrative-item .columns-component .container-gutter{padding-right:0;padding-left:0;max-width:none;margin:0}
					@media (max-width:1599px){.narrative-item .hpe-arrow-link{font-size:17px;line-height:1.17647059em}}
					@media (max-width:1199px){.narrative-item .hpe-arrow-link{font-size:16px;line-height:1.1875em}}
					@media (max-width:991px){
						.narrative-item{padding:0 50px 60px}
						.narrative-item .hpe-arrow-link{font-size:16px;line-height:1.1875em}
						}
						@media (max-width:767px){
							.narrative-modal .modal-backdrop{transition:none;opacity:0}
							.narrative-modal .modal-dialog{transition:none}
							.narrative-modal .narrative-modal-close-wrapper{right:0;top:0}
							.narrative-modal .narrative-carousel .carousel-button-wrapper{width:30px}
							.narrative-item{padding:0 30px 60px}
							.narrative-item .hpe-arrow-link{font-size:16px;line-height:1.1875em}
							.narrative-item .narrative-header{min-height:100px}
							.narrative-item .narrative-body{padding:20px 20px 30px}
							.ms-ie .narrative-item .narrative-body{min-height:460px}
							.narrative-item .resources{display:block}
							.narrative-item .resources-header,
							.narrative-item .resources-title{margin-top:calc(30px - .29111111111111115em)}
						}
							.narrative-item .hpe-content-block.typo3 .cb-content{display:flex;flex-direction:column;justify-content:center}
							.narrative-item .hpe-content-block.typo3 .cb-desc,
							.narrative-item .hpe-content-block.typo3 .cb-links,
							.narrative-item .hpe-content-block.typo3 .cb-title{flex:none}
							.narrative-item .hpe-content-block.typo3 .cb-desc,
							.narrative-item .hpe-content-block.typo3 .secondary-link{font-size:17px;line-height:1.17647059em}
							.narrative-item .hpe-content-block.typo3 .cb-links li .secondary-link{margin-top:20px}
							.narrative-item .hpe-content-block.typo3 .cb-links li:first-child .secondary-link{margin-top:14px}
							@media (max-width:1599px){
								.narrative-item .hpe-content-block.typo3 .cb-desc,
								.narrative-item .hpe-content-block.typo3 .secondary-link{font-size:17px;line-height:1.17647059em}
								}
								@media (max-width:1199px){.narrative-item .hpe-content-block.typo3 .cb-desc,.narrative-item .hpe-content-block.typo3 .secondary-link{font-size:16px;line-height:1.1875em}}@media (max-width:991px){.narrative-item .hpe-content-block.typo3 .cb-desc,.narrative-item .hpe-content-block.typo3 .secondary-link{font-size:16px;line-height:1.1875em}.narrative-item .hpe-content-block.typo3 .cb-links li .secondary-link{margin-top:10px}.narrative-item .hpe-content-block.typo3 .cb-links li:first-child .secondary-link{margin-top:16px}}@media (max-width:767px){.narrative-item .hpe-content-block.typo3 .tag-h3.cb-title,.narrative-item .hpe-content-block.typo3 h3.cb-title{font-size:20px;line-height:1.15em}
								.narrative-item .hpe-content-block.typo3 .cb-desc,
					.narrative-item .hpe-content-block.typo3 .secondary-link{font-size:16px;line-height:1.1875em}
@media (max-width:991px){
.topic-story .secondary-section{
	margin-top: 0px
}
}
 /*|1.73.1.35-S-35|publish|2020-11-02T16:00:36.033Z|*/
 .topic-story{opacity:1;transition:opacity 250ms 250ms ease-in;padding-top:60px;padding-bottom:60px}
 .topic-story .narrative-modal{z-index:119;text-align:center;-webkit-overflow-scrolling:auto}
 .topic-story .narrative-modal .modal-backdrop{transition:opacity 250ms}
 .topic-story .narrative-modal .modal-backdrop:not(.opened){opacity:0}
 .topic-story .narrative-modal .modal-dialog-align{display:inline-block;height:100%;vertical-align:middle}
 .topic-story .narrative-modal .modal-dialog{visibility:hidden;opacity:0;transition:opacity 250ms;z-index:1;width:1200px;max-width:100%;margin:0;display:inline-block;text-align:left;vertical-align:middle}
 .topic-story .narrative-modal .modal-dialog.opened{visibility:visible;opacity:1}
 .topic-story .narrative-modal.modal.in .modal-dialog{transform:none}
 .topic-story .narrative-modal .modal-content{border:none;border-radius:0;box-shadow:none;background:0 0}
 .topic-story .narrative-modal .narrative-modal-close-wrapper{position:absolute;width:29px;right:15px;top:15px}
 .topic-story .narrative-modal .narrative-modal-close{position:fixed;color:#FFF;cursor:pointer;border:0;font-size:17px;line-height:0;background:0 0;padding:6px}
 .topic-story .narrative-modal .narrative-modal-close:before{position:relative}
 .topic-story .narrative-modal .narrative-carousel .slide-carousel-control{position:fixed;top:50vh;opacity:.6}
 .topic-story .narrative-modal .narrative-carousel .slide-carousel-control:hover{opacity:.9}
 .topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper{position:absolute;width:68px}
 .topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper.left{left:-8px}
 .topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper.right{right:-8px}
 .topic-story .narrative-modal .narrative-carousel .slide-carousel-control.left{left:auto}
 .topic-story .narrative-modal .narrative-carousel .slide-carousel-control.right{right:auto}
 .topic-story .narrative-modal .narrative-carousel .slide-carousel-dots{bottom:25px}
 @media (max-width:1199px){.topic-story .narrative-modal .modal-dialog{width:100%}
 }
 @media (max-width:991px){
	.topic-story .narrative-modal .narrative-modal-close-wrapper{right:10px;top:10px}
	.topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper{width:50px}
	.topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper.left{left:0}
	.topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper.right{right:0}
	}
 	.topic-story .narrative-item{display:flex;flex-direction:column;min-height:620px;padding:0 60px 60px}
 	.topic-story .narrative-item .narrative-header{padding:20px 0;border-bottom:none;min-height:140px;flex:none;display:flex;flex-direction:column;justify-content:center}
 	.topic-story .narrative-item .narrative-header .body-copy,.topic-story .narrative-item .narrative-header h2{color:#FFF}
 	.topic-story .narrative-item .narrative-header h2{margin:-.18em 0}
 	.topic-story .narrative-item .narrative-header .body-copy{margin-top:calc(15px - .27090909090909093em);margin-bottom:-.27090909em}
 	.topic-story .narrative-item .narrative-body{position:relative;height:100%;padding:30px 30px 40px;background:#FFF;flex:1 1 auto}
 	.ms-ie .topic-story .narrative-item .narrative-body{min-height:420px}
 	.topic-story .narrative-item .narrative-bg{position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;background-size:100%;background-color:#000}
 	.topic-story .narrative-item .hpe-arrow-link{font-size:17px;line-height:1.17647059em}
 	.topic-story .narrative-item .intro-title{font-family:'Metric Semibold';margin-top:-.27090909em;margin-bottom:calc(10px - .27090909090909093em)}
 	.topic-story .narrative-item .intro-description{margin-top:-.26823529em}
 	.topic-story .narrative-item .intro-description.rich-text-container p:last-child{margin-bottom:0}
 	.topic-story .narrative-item .intro-links{margin-top:20px}
 	.topic-story .narrative-item .intro-link-wrapper{display:inline}
 	.topic-story .narrative-item .intro-link-wrapper:after{content:'|';margin:0 5px 0 4px;font-family:'Metric Light';color:#000}
 	.topic-story .explore-link,.topic-story .explore-link:focus,.topic-story .explore-link:hover{color:#01A982;text-decoration:none}
 	.topic-story .narrative-item .intro-link-wrapper:last-child:after{content:none}
 	.topic-story .narrative-item .intro-link.no-js{padding-right:0}
 	.topic-story .narrative-item .resources-title{font-family:'Metric Semibold';margin-top:calc(40px - .27090909090909093em);margin-bottom:calc(10px - .27090909090909093em)}
 	.topic-story .narrative-item .resources{display:flex;margin-left:-15px;margin-right:-15px}
 	.topic-story .narrative-item .resources-column{flex:1 0 0px;flex-basis:0px;max-width:100%;padding:0 15px}
 	.topic-story .narrative-item .resources-link{display:table;margin-top:20px}
 	.topic-story .narrative-item .columns-component .container-gutter{padding-right:0;padding-left:0;max-width:none;margin:0}
@media (max-width:1599px){
	.topic-story .narrative-item .hpe-arrow-link{font-size:17px;line-height:1.17647059em}
}
@media (max-width:1199px){
	.topic-story .narrative-item .hpe-arrow-link{font-size:16px;line-height:1.1875em}
}
@media (max-width:991px){
	.topic-story .narrative-item{padding:0 50px 60px}
	.topic-story .narrative-item .hpe-arrow-link{font-size:16px;line-height:1.1875em}
}
@media (max-width:767px){
	.topic-story .narrative-modal .modal-backdrop{transition:none;opacity:0}
	.topic-story .narrative-modal .modal-dialog{transition:none}
	.topic-story .narrative-modal .narrative-modal-close-wrapper{right:0;top:0}
	.topic-story .narrative-modal .narrative-carousel .carousel-button-wrapper{width:30px}
	.topic-story .narrative-item{padding:0 30px 60px}
	.topic-story .narrative-item .hpe-arrow-link{font-size:16px;line-height:1.1875em}
	.topic-story .narrative-item .narrative-header{min-height:100px}
	.topic-story .narrative-item .narrative-body{padding:20px 20px 30px}
	.ms-ie .topic-story .narrative-item .narrative-body{min-height:460px}
	.topic-story .narrative-item .resources{display:block}
	.topic-story .narrative-item .resources-header,
	.topic-story .narrative-item .resources-title{margin-top:calc(30px - .29111111111111115em)}
}
.topic-story .narrative-item .hpe-content-block.typo3 .cb-content{display:flex;flex-direction:column;justify-content:center}
.topic-story .narrative-item .hpe-content-block.typo3 .cb-desc,
.topic-story .narrative-item .hpe-content-block.typo3 .cb-links,
.topic-story .narrative-item .hpe-content-block.typo3 .cb-title{flex:none}
.topic-story .narrative-item .hpe-content-block.typo3 .cb-desc,
.topic-story .narrative-item .hpe-content-block.typo3 .secondary-link{font-size:17px;line-height:1.17647059em}
.topic-story .narrative-item .hpe-content-block.typo3 .cb-links li .secondary-link{margin-top:20px}
.topic-story .narrative-item .hpe-content-block.typo3 .cb-links li:first-child .secondary-link{margin-top:14px}
@media (max-width:1599px){
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-desc,
	.topic-story .narrative-item .hpe-content-block.typo3 .secondary-link{font-size:17px;line-height:1.17647059em}
}
@media (max-width:1199px){
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-desc,
	.topic-story .narrative-item .hpe-content-block.typo3 .secondary-link{font-size:16px;line-height:1.1875em}
}
@media (max-width:991px){
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-desc,
	.topic-story .narrative-item .hpe-content-block.typo3 .secondary-link{font-size:16px;line-height:1.1875em}
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-links li .secondary-link{margin-top:10px}
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-links li:first-child .secondary-link{margin-top:16px}
}
.topic-story .intro-link-wrapper a.video-overlay{display:inline-block!important}
.topic-story .narrative-modal .modal-backdrop{opacity:.4}
@media (min-width:768px) and (max-width:1599px){
	.topic-story .narrative-modal .modal-dialog{width:768px}
	}
@media (max-width:767px){
	.topic-story .narrative-item .hpe-content-block.typo3 .tag-h3.cb-title,
	.topic-story .narrative-item .hpe-content-block.typo3 h3.cb-title{font-size:20px;line-height:1.15em}
	.topic-story .narrative-item .hpe-content-block.typo3 .cb-desc,
	.topic-story .narrative-item .hpe-content-block.typo3 .secondary-link{font-size:16px;line-height:1.1875em}
	.topic-story .narrative-modal .modal-dialog{width:400px}
}
.topic-story .narrative-modal .item{background:#000}
.topic-story .narrative-modal .item .narrative-item{background:linear-gradient(to top,#000,#0c3236);background-size:100% 400px;background-repeat:no-repeat}
.topic-story .narrative-modal .item .narrative-item .narrative-header{min-height:120px;justify-content:flex-end}
.topic-story .narrative-modal .item .narrative-item .narrative-header h2{text-transform:none;font-family:'Metric Semibold',Arial,sans-serif;font-size:40px;line-height:1.075em}
@media (min-width:1200px) and (max-width:1599px){
	.topic-story .narrative-modal .item .narrative-item .narrative-header h2{font-size:30px;line-height:1.1em}
	}
@media (min-width:768px) and (max-width:1199px){
	.topic-story .narrative-modal .item .narrative-item .narrative-header h2{font-size:28px;line-height:1.10714286em}
	}
@media (max-width:767px){
	.topic-story .narrative-modal .item .narrative-item .narrative-header h2{font-size:24px;line-height:1.125em}
}
.topic-story .narrative-modal .item .narrative-item .narrative-body{border-top-color:#01A982!important}
.ms-ie .topic-story .narrative-modal .item .narrative-item .narrative-body{min-height:440px}
.topic-story .explore-link{position:relative;display:inline-flex;align-items:center;font-size:20px;line-height:1.2em;font-family:'Metric Semibold',Arial,sans-serif}
.topic-story .explore-link .arrow{display:none}
@media (max-width:1199px){
	.topic-story .explore-link{font-size:18px;line-height:1.22222222em}
}
	.topic-story .explore-link .expand-icon-wrapper{position:relative;display:block;height:29px;margin-right:8px}
	.topic-story .explore-link .expand-icon-wrapper>span{transition:transform 150ms 30ms ease-in-out;will-change:transform}
	.topic-story .explore-link .expand-icon-wrapper .exi0{fill:#ccc}
	.topic-story .explore-link .expand-icon-wrapper .exi1{fill:#19A882}
	.topic-story .explore-link .expand-icon{display:block;overflow:visible;width:29px;height:29px;position:absolute;top:0;left:0}
	.topic-story .explore-link .expand-arrow-down,
	.topic-story .explore-link .expand-arrow-up{display:block;overflow:visible;position:relative;width:29px;height:29px}
	.topic-story .explore-link .expand-arrow-down{top:-29px}
	.topic-story .explore-link:focus .expand-arrow-up,
	.topic-story .explore-link:hover .expand-arrow-up{transform:translate3d(3px,-3px,0)}
	.topic-story .explore-link:focus .expand-arrow-down,
	.topic-story .explore-link:hover .expand-arrow-down{transform:translate3d(-3px,3px,0)}
	.topic-story a.img-wrapper{display:block;position:relative}
	.topic-story a.title-link{display:inline-block}.topic-story.author-mode{position:relative}
	.topic-story.author-mode .cols-wrapper{position:relative;display:block}
	.topic-story.author-mode .cols-wrapper .additional-section,
	.topic-story.author-mode .cols-wrapper .secondary-section,
	.topic-story.author-mode .cols-wrapper .section{position:relative;padding:0 0 30px!important;width:100%;display:block}
	.topic-story.author-mode .cols-wrapper .additional-section .text-content,
	.topic-story.author-mode .cols-wrapper .secondary-section .text-content,
	.topic-story.author-mode .cols-wrapper .section .text-content{width:100%;padding:0}
	.topic-story.author-mode .cols-wrapper .additional-section .img-wrapper,
	.topic-story.author-mode .cols-wrapper .secondary-section .img-wrapper,
	.topic-story.author-mode .cols-wrapper .section .img-wrapper{max-height:400px;width:auto;margin-bottom:25px}
	.topic-story.author-mode .cols-wrapper .additional-section .img-wrapper .image,
	.topic-story.author-mode .cols-wrapper .secondary-section .img-wrapper .image,
	.topic-story.author-mode .cols-wrapper .section .img-wrapper .image{max-height:400px;width:auto}
	.topic-story.author-mode .additional-sections-wrapper.small{display:none}
	.topic-story.author-mode .additional-section .narrative-item,
	.topic-story.author-mode .section .narrative-item{min-height:auto;padding:0}
	.topic-story.author-mode .additional-section .narrative-item .narrative-header .body-copy,
	.topic-story.author-mode .additional-section .narrative-item .narrative-header h2,
	.topic-story.author-mode .section .narrative-item .narrative-header .body-copy,
	.topic-story.author-mode .section .narrative-item .narrative-header h2{color:#000}
	.topic-story.author-mode .additional-section .narrative-item .narrative-header h2,
	.topic-story.author-mode .section .narrative-item .narrative-header h2{text-transform:none;font-family:'Metric Semibold',Arial,sans-serif;font-size:40px;line-height:1.075em}
@media (min-width:1200px) and (max-width:1599px){
	.topic-story.author-mode .additional-section .narrative-item .narrative-header h2,
	.topic-story.author-mode .section .narrative-item .narrative-header h2{font-size:30px;line-height:1.1em}
}
@media (min-width:768px) and (max-width:1199px){
	.topic-story.author-mode .additional-section .narrative-item .narrative-header h2,
	.topic-story.author-mode .section .narrative-item .narrative-header h2{font-size:28px;line-height:1.10714286em}
}
.topic-story.author-mode .additional-section .narrative-item .narrative-body,
.topic-story.author-mode .section .narrative-item .narrative-body{padding:0 0 30px;border:0;display:block;height:auto;flex:none}
.topic-story .additional-sections-wrapper .additional-section:last-child,
.topic-story .cols-wrapper .section:nth-child(odd){padding-right:15px}
.topic-story.author-mode .additional-section .narrative-item smart-image.narrative-bg,
.topic-story.author-mode .section .narrative-item smart-image.narrative-bg{display:none}
.topic-story.uninitialized{opacity:0}.topic-story .video-overlay{display:block;position:relative}
.topic-story .video-overlay .img-video-button{width:50px;height:50px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.topic-story .video-overlay .img-video-button img{width:50px;height:50px}.topic-story h2.dashed-text{margin-bottom:23px;padding-bottom:29px;margin-top:0}
.topic-story .body-copy.top-text{margin-bottom:30px}
.topic-story .body-copy,.topic-story .body-copy div,
.topic-story .body-copy p{margin-bottom:0}
.topic-story .link-wrapper{margin-top:10px}
.topic-story .link-wrapper .hpe-arrow-link{margin-top:0;display:inline-block}
.topic-story .cols-wrapper .section{width:50%}
.topic-story .cols-wrapper .section:nth-child(even){padding-left:15px}
.topic-story .cols-wrapper.small{display:none}
.topic-story .cols-wrapper.large{display:flex}
.topic-story .main-section .image{margin-bottom:23px;display:block}
.topic-story .main-section.small{display:none}
.topic-story .main-section.large{display:block}
.topic-story a .image.img-container,
.topic-story div.img-wrapper .image.img-container{overflow:hidden}
.topic-story .secondary-section{margin-top:48px;display:flex;flex-direction:row}
.topic-story .secondary-section h4{margin-top:-5px}
.topic-story .secondary-section .img-wrapper{display:block;width:50%;height:fit-content;padding-right:15px}
.topic-story .secondary-section .img-wrapper smart-image{height:100%;background-position:center}
.topic-story .secondary-section .text-content{width:50%;padding-left:15px;display:flex;flex-direction:column;justify-content:center}
.topic-story .additional-sections-wrapper{display:flex;flex-direction:row-reverse;justify-content:flex-start;margin-top:30px}
.topic-story .additional-sections-wrapper .additional-section{width:50%}
.topic-story .additional-sections-wrapper .additional-section:first-child{padding-left:15px}
.topic-story .additional-sections-wrapper.second-topic-disabled{justify-content:flex-start}
.topic-story .additional-sections-wrapper.second-topic-disabled .additional-section:first-child{padding-right:0;padding-left:15px}
.topic-story .additional-sections-wrapper.first-topic-disabled{justify-content:flex-end}
.topic-story .additional-sections-wrapper.first-topic-disabled .additional-section:first-child{padding-right:15px;padding-left:0}
.topic-story .additional-sections-wrapper.small{display:none}
@media (max-width:1199px){
	.topic-story h2.dashed-text{margin-bottom:15px;padding-bottom:21px}
	.topic-story .video-overlay{display:block;position:relative}
}
@media (min-width:768px) and (max-width:1599px){
	.topic-story h2.dashed-text{margin-bottom:15px;padding-bottom:21px}
	.topic-story .secondary-section .img-wrapper,
	.topic-story .secondary-section .text-content{width:50%}
	.topic-story .cols-wrapper{margin-bottom:32px}
	.topic-story .additional-sections-wrapper.small{display:flex;flex-direction:row}
	.topic-story .additional-sections-wrapper.small .additional-section:last-child{padding-left:15px;padding-right:0}
	.topic-story .additional-sections-wrapper.small .additional-section:first-child,
	.topic-story .additional-sections-wrapper.small.second-topic-disabled .additional-section:first-child{padding-right:15px;padding-left:0}
	.topic-story .additional-sections-wrapper.small.second-topic-disabled{justify-content:flex-start}
	.topic-story .additional-sections-wrapper.small.first-topic-disabled{justify-content:flex-end}
	.topic-story .additional-sections-wrapper.small.first-topic-disabled .additional-section:first-child{padding-right:0;padding-left:15px}
	.topic-story .additional-sections-wrapper.large{display:none}
}
@media (min-width:768px) and (max-width:991px){
	.topic-story .additional-sections-wrapper.first-topic-disabled .additional-section,
	.topic-story .additional-sections-wrapper.second-topic-disabled .additional-section{padding:0}
	}
@media (max-width:991px){
	.topic-story .additional-sections-wrapper,
	.topic-story .secondary-section h4{margin-top:0}
	.topic-story{padding-top:50px;padding-bottom:50px}
	.topic-story .main-section{margin-bottom:38px}
	.topic-story .cols-wrapper{flex-direction:column;margin-bottom:22px}
	.topic-story .cols-wrapper.small{display:flex}
	.topic-story .cols-wrapper.large{display:none}
	.topic-story .cols-wrapper .section{width:100%;padding-left:0;padding-right:0}
	.topic-story .cols-wrapper .section:nth-child(odd){padding-right:0}
	.topic-story .cols-wrapper .section:nth-child(even){padding-left:0}
	.topic-story .secondary-section{flex-direction:column;margin-top:0}
	.topic-story .secondary-section .img-wrapper{width:100%;padding-left:0;padding-right:0}
	.topic-story .secondary-section .img-wrapper .image{margin-bottom:23px}
	.topic-story .secondary-section .img-wrapper .img-container-1-1:after{padding-top:56.25%}
	.topic-story .secondary-section .text-content{width:100%;padding-left:0}
	.topic-story .additional-sections-wrapper .additional-section{margin-bottom:0}
	}
@media (max-width:767px){.topic-story.author-mode .additional-section .narrative-item .narrative-header h2,
	.topic-story.author-mode .section .narrative-item .narrative-header h2{font-size:24px;line-height:1.125em}
	.topic-story .main-section .image,.topic-story .secondary-section .img-wrapper .image{margin-bottom:13px}
	.topic-story .additional-sections-wrapper.small{display:flex}
	.topic-story .additional-sections-wrapper.large{display:none}
	.topic-story .additional-sections-wrapper{flex-direction:column;margin-top:0}
	.topic-story .additional-sections-wrapper .additional-section{width:100%;margin-bottom:22px}
	.topic-story .additional-sections-wrapper .additional-section:last-child{margin-bottom:0}
	.topic-story .additional-sections-wrapper .additional-section,
	.topic-story .additional-sections-wrapper .additional-section:first-child,
	.topic-story .additional-sections-wrapper .additional-section:last-child,
	.topic-story .additional-sections-wrapper.first-topic-disabled .additional-section,
	.topic-story .additional-sections-wrapper.first-topic-disabled .additional-section:first-child,
	.topic-story .additional-sections-wrapper.first-topic-disabled .additional-section:last-child,
	.topic-story .additional-sections-wrapper.second-topic-disabled .additional-section,
	.topic-story .additional-sections-wrapper.second-topic-disabled .additional-section:first-child,
	.topic-story .additional-sections-wrapper.second-topic-disabled .additional-section:last-child{padding-right:0;padding-left:0}
	}
@media (min-width:1600px){

	.topic-story.container-fluid{max-width:1800px;padding-left:100px;padding-right:100px}
}
@media (min-width:992px) and (max-width:1599px){
	.topic-story.container-fluid{padding-left:80px;padding-right:80px}
}
@media (min-width:768px) and (max-width:991px){
	.topic-story.container-fluid{padding-left:50px;padding-right:50px}
}
 @media (max-width:767px){

 	.topic-story.container-fluid{padding-left:30px;padding-right:30px}
} 
