footer {
	display: block;
}

.fusion-footer-copyright-area {
	padding-left: 30px;
    padding-right: 30px;
}

.fusion-footer {
    --footer_area_padding-top: 50px;
    --footer_area_padding-bottom: 50px;
    --footer_area_padding-left: ;
    --footer_area_padding-right: ;
    --footer_divider_line-flex: block;
    --footer_divider_line_size: 1px;
    --footer_divider_line_style: solid;
    --footer_widgets_padding: 16px;
}

.fusion-footer-widget-area {
    --footerw_bg_image: ;
    --footerw_bg_full-size: initial;
    --footerw_bg_full-position: center center;
    --footerw_bg_repeat: no-repeat;
    --footerw_bg_pos: center center;
    --footer_bg_color: #212934;
    --footer_border_size: 0px;
    --footer_border_color: #e2e2e2;
    --footer_link_color: rgba(255,255,255,0.8);
    --footer_link_color_hover: #01a982;
}

.fusion-footer-widget-area {
    position: relative;
    padding: 50px 10px 50px;
    border-top: 0px solid #e2e2e2;
    background-image: ;
    background-repeat: no-repeat;
    background-color: #212934;
    background-size: initial;
    background-position: center center;
    color: #ffffff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.fusion-row {
    margin: 0 auto;
    zoom: 1;
}

.fusion-row:after, .fusion-row:before {
    content: " ";
    display: table;
}

.fusion-footer footer .fusion-row .fusion-columns {
    display: block;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.fusion-footer footer .fusion-columns {
    margin: 0 calc((16px) * -1);
}

.fusion-columns {
    margin: 0 -15px;
}

.fusion-columns {
    margin: 0 -15px;
}

.fusion-footer-widget-area-center .fusion-columns .fusion-column {
    text-align: center;
}

.fusion-footer footer .fusion-columns .fusion-column {
    padding-left: 16px;
    padding-right: 16px;
}

.fusion-columns-2 .fusion-column:nth-of-type(2n+1), .fusion-columns-2 .fusion-flip-box-wrapper:nth-of-type(2n+1) {
    clear: both;
}

.fusion-footer-widget-area .fusion-row {
	max-width: 1200px;
}

.fusion-row section {
    margin-bottom: 0px !important;
}

.widget_custom_html {
    display: contents !important;
}

.fusion-footer-widget-column {
    margin-bottom: 50px;
}

.mobile-logo-footer {
    padding-left: 30px;
    padding-right: 30px;
}

.fusion-footer-widget-area a {
    color: rgba(255,255,255,0.8);
}

.ltr .fusion-footer footer .fusion-row .fusion-columns .fusion-column.fusion-column-last {
    border-right: none;
}

.fusion-footer-widget-area-center .fusion-columns .fusion-column {
    text-align: center;
}

.fusion-footer footer .fusion-columns .fusion-column {
    padding-left: 16px;
    padding-right: 16px;
}

.fusion-footer-copyright-area {
    z-index: 10;
    position: relative;
    padding: 20px 10px 20px;
    border-top: 0px solid #26303e;
    background-color: #1d242d;
}

.fusion-footer-copyright-area .fusion-row {
    max-width: 1200px;
}

.fusion-footer-copyright-center .fusion-copyright-content {
    display: block;
    text-align: center;
}

.fusion-footer-copyright-center .fusion-copyright-notice {
    display: block;
    width: 100%;
    text-align: center;
}

.fusion-copyright-notice {
    --copyright_text_color: rgba(255,255,255,0.4);
    --copyright_link_color: rgba(255,255,255,0.8);
    --copyright_font_size: 14px;
}

.fusion-copyright-notice {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    color: rgba(255,255,255,0.4);
    font-size: 14px;
}

.fusion-copyright-content {
    display: table;
    width: 100%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

#hf-header-v3 .hf-nav.left-align .hf-menu-dynamic .hf-menu {
	right: 0 !important;
	left: auto;
}

#hf-header-v3 .hf-nav.left-align.vertical-line .hf-menu-dynamic .hf-menu:before {
	background: none !important; 
}

#hf-header-v3 .hf-nav.left-align .hf-link-text {
    font-size: 20px !important;
	font-weight: 600 !important;
}

.anchor-nav-v3 .anchor-nav-item .title {
    font-weight: 600 !important;
}

@media (min-width: 1200px) {
	.col-lg-6 {
	    width: 50%;
	}

	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
	    float: left;
	}
}

@media (min-width: 768px) {
	.mobile-logo-footer {
	    padding-left: 0px !important;
	    padding-right: 0px !important;
	}
}